<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023458773814-sclips8aktre3nmkmvua6mekcanmdiia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023458773814-sclips8aktre3nmkmvua6mekcanmdiia</string>
	<key>API_KEY</key>
	<string>AIzaSyAXv-Z1lHGRd5XPaRiLfbmXaQqCvAsL4bI</string>
	<key>GCM_SENDER_ID</key>
	<string>1023458773814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeo.Project-SakaMaka</string>
	<key>PROJECT_ID</key>
	<string>sakamaka-4cb0f</string>
	<key>STORAGE_BUCKET</key>
	<string>sakamaka-4cb0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023458773814:ios:5ef2a765367bc93c914197</string>
</dict>
</plist>